In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("DATA_water_updated.xlsx")
data

,Unnamed: 0,Experiment,DMF,H2O_vol,Acid_vol,Acid_pKa,ACID,Temperature,Time_h_calc,%FA_formed(w/w),SD,Acid_moles
0,0,4_13,8,1.5600,0.38,0.00,TFAA,60,3.0,0.099534,0.011640,0.004966
1,1,4_13,8,0.8400,0.46,0.00,TFAA,150,6.0,0.100667,0.010739,0.006011
2,2,4_13,8,1.4096,1.14,-6.30,HCl,100,9.0,0.340075,0.042111,0.013680
3,3,4_13,8,1.4800,0.06,2.86,ClAA,100,24.0,0.030610,0.001769,0.001003
4,4,4_13,8,3.4800,0.94,4.75,AA,100,24.0,0.103782,0.023473,0.016450
...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,4_11,8,0.3200,0.50,-6.30,HCl,120,72.0,0.318390,0.036930,0.006000
173,173,4_11,8,0.6400,1.00,-6.30,HCl,120,72.0,0.673820,0.085490,0.012000
174,174,4_11,8,0.0640,0.10,-6.30,HCl,120,168.0,0.065250,0.011350,0.001200
175,175,4_11,8,0.3200,0.50,-6.30,HCl,120,168.0,0.365840,0.044320,0.006000
176,176,4_11,8,0.6400,1.00,-6.30,HCl,120,168.0,0.495416,0.011728,0.012000

In [3]:
acids = data["ACID"].unique()

In [4]:
pka ={'TFAA':0,
    'AA':4.75,
    'DClAA':1.35,
    'H2SO4':-3,
    'HNO3':-1.37,
    'ClAA':2.86,
     'HCl':-6.3}

In [5]:
for index, row in data.iterrows():
    acid = row["ACID"]
    data.loc[index,['Acid_pKa']] = pka[acid]

In [6]:
data

,Unnamed: 0,Experiment,DMF,H2O_vol,Acid_vol,Acid_pKa,ACID,Temperature,Time_h_calc,%FA_formed(w/w),SD,Acid_moles
0,0,4_13,8,1.5600,0.38,0.00,TFAA,60,3.0,0.099534,0.011640,0.004966
1,1,4_13,8,0.8400,0.46,0.00,TFAA,150,6.0,0.100667,0.010739,0.006011
2,2,4_13,8,1.4096,1.14,-6.30,HCl,100,9.0,0.340075,0.042111,0.013680
3,3,4_13,8,1.4800,0.06,2.86,ClAA,100,24.0,0.030610,0.001769,0.001003
4,4,4_13,8,3.4800,0.94,4.75,AA,100,24.0,0.103782,0.023473,0.016450
...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,4_11,8,0.3200,0.50,-6.30,HCl,120,72.0,0.318390,0.036930,0.006000
173,173,4_11,8,0.6400,1.00,-6.30,HCl,120,72.0,0.673820,0.085490,0.012000
174,174,4_11,8,0.0640,0.10,-6.30,HCl,120,168.0,0.065250,0.011350,0.001200
175,175,4_11,8,0.3200,0.50,-6.30,HCl,120,168.0,0.365840,0.044320,0.006000
176,176,4_11,8,0.6400,1.00,-6.30,HCl,120,168.0,0.495416,0.011728,0.012000

In [7]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [8]:
data.to_excel("DATA_pKa_updated.xlsx")