In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("DATA_moles.xlsx")
data['V (water)'] = data['V (water)'].round(2)
data['V (water)'] = data['V (water)'].round(2)

In [3]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]
data

,Experiment,V (DMF),V (water),V(Acid),n (Acid),Acid pKa,ACID,Temperature,Time (h),%FA (w/w),SD
0,4_13,8,1.56,0.38,0.004966,0.00,TFAA,60,3.0,0.099534,0.011640
1,4_13,8,0.84,0.46,0.006011,0.00,TFAA,150,6.0,0.100667,0.010739
2,4_13,8,0.68,1.14,0.013680,-6.30,HCl,100,9.0,0.340075,0.042111
3,4_13,8,1.48,0.06,0.001003,2.86,ClAA,100,24.0,0.030610,0.001769
4,4_13,8,3.48,0.94,0.016450,4.75,AA,100,24.0,0.103782,0.023473
...,...,...,...,...,...,...,...,...,...,...,...
173,4_11,8,0.64,1.00,0.012000,-6.30,HCl,120,72.0,0.424716,0.015782
174,4_11,8,0.00,0.10,0.001200,-6.30,HCl,120,168.0,0.065250,0.011350
175,4_11,8,0.00,0.50,0.006000,-6.30,HCl,120,168.0,0.365840,0.044320
176,4_11,8,0.00,1.00,0.012000,-6.30,HCl,120,168.0,0.495416,0.011728
177,4_11,8,0.00,1.00,0.012000,-6.30,HCl,120,72.0,0.353266,0.011596

In [4]:
acids = data["ACID"].unique()

In [5]:
updated_vol = []

In [6]:
for index, row in data.iterrows():
    if row["ACID"] == 'HCl':
        v_acid = row["V(Acid)"]
        v_h2o = row["V (water)"]
        v_hcl = v_acid*0.36
        v_h2o_hcl = v_acid - v_hcl
        updated_vol.append(v_h2o +v_h2o_hcl)
        data.loc[index,['V (water)']] = v_h2o + v_h2o_hcl
    elif row["ACID"] == 'HNO3':
        v_acid = row["V(Acid)"]
        v_h2o = row["V (water)"]
        v_hno3 = v_acid*0.7
        v_h2o_hno3 = v_acid - v_hno3
        updated_vol.append(v_h2o +v_h2o_hno3)
        data.loc[index,['V (water)']] = v_h2o + v_h2o_hcl

In [7]:
data

,Experiment,V (DMF),V (water),V(Acid),n (Acid),Acid pKa,ACID,Temperature,Time (h),%FA (w/w),SD
0,4_13,8,1.5600,0.38,0.004966,0.00,TFAA,60,3.0,0.099534,0.011640
1,4_13,8,0.8400,0.46,0.006011,0.00,TFAA,150,6.0,0.100667,0.010739
2,4_13,8,1.4096,1.14,0.013680,-6.30,HCl,100,9.0,0.340075,0.042111
3,4_13,8,1.4800,0.06,0.001003,2.86,ClAA,100,24.0,0.030610,0.001769
4,4_13,8,3.4800,0.94,0.016450,4.75,AA,100,24.0,0.103782,0.023473
...,...,...,...,...,...,...,...,...,...,...,...
173,4_11,8,1.2800,1.00,0.012000,-6.30,HCl,120,72.0,0.424716,0.015782
174,4_11,8,0.0640,0.10,0.001200,-6.30,HCl,120,168.0,0.065250,0.011350
175,4_11,8,0.3200,0.50,0.006000,-6.30,HCl,120,168.0,0.365840,0.044320
176,4_11,8,0.6400,1.00,0.012000,-6.30,HCl,120,168.0,0.495416,0.011728
177,4_11,8,0.6400,1.00,0.012000,-6.30,HCl,120,72.0,0.353266,0.011596

In [8]:
data.to_excel("DATA_water_updated.xlsx")