In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("DATA_moles.xlsx")
data['H2O_vol'] = data['H2O_vol'].round(2)
data['Acid_vol'] = data['Acid_vol'].round(2)

In [3]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]
data

,Experiment,DMF,H2O_vol,Acid_vol,Acid_pKa,ACID,Temperature,Time_h_calc,%FA_formed(w/w),SD,Acid_moles
0,4_13,8,1.56,0.38,0.00,TFAA,60,3.0,0.099534,0.011640,0.004966
1,4_13,8,0.84,0.46,0.00,TFAA,150,6.0,0.100667,0.010739,0.006011
2,4_13,8,0.68,1.14,-6.30,HCl,100,9.0,0.340075,0.042111,0.013680
3,4_13,8,1.48,0.06,2.86,ClAA,100,24.0,0.030610,0.001769,0.001003
4,4_13,8,3.48,0.94,4.75,AA,100,24.0,0.103782,0.023473,0.016450
...,...,...,...,...,...,...,...,...,...,...,...
172,4_11,8,0.00,0.50,-6.30,HCl,120,72.0,0.318390,0.036930,0.006000
173,4_11,8,0.64,1.00,-6.30,HCl,120,72.0,0.424716,0.015782,0.012000
174,4_11,8,0.00,0.10,-6.30,HCl,120,168.0,0.065250,0.011350,0.001200
175,4_11,8,0.00,0.50,-6.30,HCl,120,168.0,0.365840,0.044320,0.006000
176,4_11,8,0.00,1.00,-6.30,HCl,120,168.0,0.495416,0.011728,0.012000

In [4]:
acids = data["ACID"].unique()

In [5]:
updated_vol = []

In [6]:
for index, row in data.iterrows():
    if row["ACID"] == 'HCl':
        v_acid = row["Acid_vol"]
        v_h2o = row["H2O_vol"]
        v_hcl = v_acid*0.36
        v_h2o_hcl = v_acid - v_hcl
        updated_vol.append(v_h2o +v_h2o_hcl)
        data.loc[index,['H2O_vol']] = v_h2o + v_h2o_hcl
    elif row["ACID"] == 'HNO3':
        v_acid = row["Acid_vol"]
        v_h2o = row["H2O_vol"]
        v_hno3 = v_acid*0.7
        v_h2o_hno3 = v_acid - v_hno3
        updated_vol.append(v_h2o +v_h2o_hno3)
        data.loc[index,['H2O_vol']] = v_h2o + v_h2o_hcl

In [7]:
data

,Experiment,DMF,H2O_vol,Acid_vol,Acid_pKa,ACID,Temperature,Time_h_calc,%FA_formed(w/w),SD,Acid_moles
0,4_13,8,1.5600,0.38,0.00,TFAA,60,3.0,0.099534,0.011640,0.004966
1,4_13,8,0.8400,0.46,0.00,TFAA,150,6.0,0.100667,0.010739,0.006011
2,4_13,8,1.4096,1.14,-6.30,HCl,100,9.0,0.340075,0.042111,0.013680
3,4_13,8,1.4800,0.06,2.86,ClAA,100,24.0,0.030610,0.001769,0.001003
4,4_13,8,3.4800,0.94,4.75,AA,100,24.0,0.103782,0.023473,0.016450
...,...,...,...,...,...,...,...,...,...,...,...
172,4_11,8,0.3200,0.50,-6.30,HCl,120,72.0,0.318390,0.036930,0.006000
173,4_11,8,1.2800,1.00,-6.30,HCl,120,72.0,0.424716,0.015782,0.012000
174,4_11,8,0.0640,0.10,-6.30,HCl,120,168.0,0.065250,0.011350,0.001200
175,4_11,8,0.3200,0.50,-6.30,HCl,120,168.0,0.365840,0.044320,0.006000
176,4_11,8,0.6400,1.00,-6.30,HCl,120,168.0,0.495416,0.011728,0.012000

In [8]:
data.to_excel("DATA_water_updated.xlsx")